@page "/fetchdata"

@using BlazorApp.Data
@using Microsoft.AspNetCore.Mvc;
@using DAL.Owner_Parameters;
@using ClassLibrary1.Interfaces.IServices;
@using ClassLibrary1.Entities;
@inject IProductService productService

<h1>Products</h1>

<p>The best products in the world</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <button @onclick="PrevPage">Prev</button>
    <span>@pageNum</span>
    <button @onclick="NextPage">Next</button>
}

@code {
    IEnumerable<Product> products;
    private int pageNum = 1;
    private int pageSize = 2;
    protected override void OnInitialized()
    {
        products = productService.GetAll(new PagingParameters() { PageSize = pageSize, PageNumber = pageNum });
    }
    public void NextPage()
    {
        pageNum++;
        products = productService.GetAll(new PagingParameters() { PageSize = pageSize, PageNumber = pageNum });
    }
    public void PrevPage()
    {
        if (pageNum > 1)
        {
            pageNum--;
            products = productService.GetAll(new PagingParameters() { PageSize = pageSize, PageNumber = pageNum });
        }
    }
}
